[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
django-oauth-toolkit = "*"
djangorestframework-jwt = "*"
pillow = "*"
django-cors-headers = "*"
gunicorn = "*"
django-rest-swagger = "*"
"django-sendgrid-v5" = "*"
django-payments = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
