{% extends "skbrest/base.html" %} {% block content %}
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
	<tr>
		<td>
			<table cellpadding="0" width="620" class="container" align="center" cellspacing="0" border="0">
				<tr>
					<td>
						<!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->


						<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
							<tr>
								<td class='movableContentContainer bgItem'>

									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr height="40">
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
											</tr>
											<tr>
												<td width="200" valign="top">&nbsp;</td>
												<td width="200" valign="top" align="center">
													<div class="contentEditableContainer contentImageEditable">
														<div class="contentEditable" align='center'>
															<img src={{logo_img_link}} width="220" height="220" alt='Logo' data-default="placeholder" />
														</div>
													</div>
												</td>
												<td width="200" valign="top">&nbsp;</td>
											</tr>

											<tr height="25">
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
												<td width="200">&nbsp;</td>
											</tr>

										</table>
									</div>

									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="100%" colspan="3" align="center" style="padding-bottom:0px;padding-top:0px;">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='center'>
															<h2>Email verification</h2>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td width="100">&nbsp;</td>
												<td width="400" align="center">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='left'>
															<p>Hi {{user}},
																<!-- <br/> -->
																<br/> Thank you for using
																<i style="color:#0689b3;">
																	<b>Y&D Learning</b>
																</i>.
																<br/>
																<br/> Please click on the button below to confirm your email.
																<br/> Link expires in
																<b>{{expires_in}}</b> {{expires_time}}.
															</p>
														</div>
													</div>
												</td>
												<td width="100">&nbsp;</td>
											</tr>
										</table>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="200">&nbsp;</td>
												<td width="200" align="center" style="padding-top:20px;">
													<table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50">
														<tr>
															<td bgcolor="#0689b3" align="center" style="border-radius:4px;" width="200" height="50">
																<div class="contentEditableContainer contentTextEditable">
																	<div class="contentEditable" align='center'>
																		<a target='_blank' href="{{link}}" class='link2'>Verify Email</a>
																	</div>
																</div>
															</td>
														</tr>
													</table>
												</td>
												<td width="200">&nbsp;</td>
											</tr>
										</table>
									</div>


									<div class='movableContent'>
										<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
											<tr>
												<td width="100%" colspan="2" style="padding-top:65px;">
													<hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
												</td>
											</tr>
											<tr>
												<td width="60%" height="70" valign="middle" style="padding-bottom:0px;">
													<div class="contentEditableContainer contentTextEditable">
														<div class="contentEditable" align='left'>
															<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Sent to {{email_sendto}} by
																<i style="color:#0689b3;">
																	<b>Y&D Learning</b>
																</i>
															</span>
															<br/>
															<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																Contact us: {{ydl_email}}</span>
															<br/>
															<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																Visit us:
																<a href={{ydl_url}}>{{ydl_url}}</a>
															</span>
															<br/>
															<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																Impressum:
																<a href={{ydl_url_impr}}>Impressum</a>
															</span>
															<!--
															<span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																Privacy Policy:
																<a href={{ydl_url_prpol}}>Privacy Policy</a>
															</span>
															-->
															<!--
																<br/>
																<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																	<a target='_blank' href="[FORWARD]" style="text-decoration:none;color:#555">Forward to a friend</a>
																</span>
																<br/>
																-->
															<!--
																<span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
																	<a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none;color:#555">click here to unsubscribe</a>
																</span>
																-->
														</div>
													</div>
												</td>


												<td width="40%" height="70" align="right" valign="top" align='right' style="padding-bottom:20px;">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
														<tr>

															<td width='57%'></td>
															<!--
																<td valign="top" width='34'>
																	<div class="contentEditableContainer contentFacebookEditable" style='display:inline;'>
																		<div class="contentEditable">
																			<img src="" data-default="placeholder" data-max-width='30' data-customIcon="true" width='30' height='30' alt='' style='margin-right:40x;'>
																		</div>
																	</div>
																</td>
																-->

															<td valign="top" width='2'>
																<div class="contentEditableContainer contentTwitterEditable" style='float:right;'>
																	<div class="contentEditable">
																		<a target='_blank' href="{{ydl_url_github}}" data-default="placeholder" style="text-decoration:none;">
																			<img src="http://ydlearning.bplaced.net/.media/GitHubMark/PNG/GitHub-Mark-64px.png" data-default="placeholder" data-max-width='30'
																			 data-customIcon="true" width='35' height='35' alt='github'>
																		</a>
																	</div>
																</div>
															</td>

															<td valign="top" width='34'>
																<div class="contentEditableContainer contentImageEditable" style='display:inline; float:right;'>
																	<div class="contentEditable">
																		<a target='_blank' href="{{ydl_url}}" data-default="placeholder" style="text-decoration:none;">
																			<img src={{logo_img_link}} width="35" height="35" alt='YDL-Logo' style='margin-right:40x;' />
																		</a>
																	</div>
																</div>
															</td>

														</tr>
													</table>
												</td>

											</tr>
										</table>
									</div>


								</td>
							</tr>
						</table>




					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<!-- End of wrapper table -->
{% endblock content %}